@charset "utf-8";
/* CSS Document */
body{
	border: 1px solid black;
}
h2{
	background-color: #868383;
	border: solid;
}
p.one{
	border:1px solid;
	border-color: 2px;
}
p.two{
	border-style: dotted;
	border-color: blue;
}
span.two{
    background-color: #868383;
	border: dotted;
	border-color: orangered;
}
span.one{
	background-color: #868383;
	border:2px solid;
}
img.one{
	border: groove;
	border-width: 5px;
}
